html {
  position: relative;
  display: flex;
  justify-content: center; }
  html:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../background.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    opacity: 0.25;
    z-index: -1; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 95%;
  font-family: 'Russo One', sans-serif;
  text-transform: uppercase;
  color: #000;
  background: #252424; }

#welcomeTextHeader, #printWalletHeader, #calculatorHeader, #inputMoneyHeader, #completedHeader {
  text-align: center;
  color: #fff;
  margin-top: auto; }
  #welcomeTextHeader h1, #welcomeTextHeader h2, #printWalletHeader h1, #printWalletHeader h2, #calculatorHeader h1, #calculatorHeader h2, #inputMoneyHeader h1, #inputMoneyHeader h2, #completedHeader h1, #completedHeader h2 {
    margin: 0; }
  #welcomeTextHeader h1, #printWalletHeader h1, #calculatorHeader h1, #inputMoneyHeader h1, #completedHeader h1 {
    font-size: 38px;
    margin-bottom: 10px; }

#printWalletHeader, #completedHeader {
  margin-top: initial; }

#welcomeTextHeader h2 {
  font-size: 30px;
  margin-bottom: 10px; }

#completedHeader h1 {
  font-size: 40px; }

.wallet-choice-wrapper {
  width: 100%;
  display: flex;
  height: 300px;
  margin-top: 20px; }
  .wallet-choice-wrapper button.amber.accent-4 {
    flex: 1;
    height: 100%;
    font-family: 'Russo One', sans-serif;
    line-height: initial;
    font-size: 30px;
    position: relative;
    border-radius: 10px;
    background-color: transparent !important; }
  .wallet-choice-wrapper button.create-wallet {
    margin-right: 15px; }
    .wallet-choice-wrapper button.create-wallet:after {
      background: #f74242; }
  .wallet-choice-wrapper button.own-wallet {
    margin-left: 15px; }
    .wallet-choice-wrapper button.own-wallet:after {
      background: #5af15a; }
  .wallet-choice-wrapper button:after {
    content: "";
    background: #fff;
    border-radius: 10px;
    font-size: 40px;
    color: black;
    font-weight: bold;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    top: 0;
    bottom: 0;
    opacity: 0.40; }

.summary-wrapper-amount, .btc-public-address, .deposit-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
  font-size: 20px;
  padding: 1rem; }
  .summary-wrapper-amount p, .btc-public-address p, .deposit-box p {
    margin: 0; }
  .summary-wrapper-amount span, .btc-public-address span, .deposit-box span {
    color: lime;
    font-size: 30px; }
    .summary-wrapper-amount span.minutes, .btc-public-address span.minutes, .deposit-box span.minutes {
      margin: 0 3px;
      display: inline-block;
      width: 130px; }
  .summary-wrapper-amount:after, .btc-public-address:after, .deposit-box:after {
    content: "";
    background: #567b0c;
    border-radius: 10px;
    font-size: 40px;
    color: black;
    font-weight: bold;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    top: 0;
    bottom: 0;
    opacity: 0.5; }

.btc-public-address, .deposit-box {
  margin-top: 1rem; }

.warningMessage {
  background: #bf2121;
  color: #fff;
  border-radius: 10px;
  padding: 1rem;
  font-size: 17px;
  margin-top: 20px;
  text-align: center; }

.regulations {
  margin-top: auto;
  font-size: 30px;
  color: #fff;
  font-style: italic; }

.no-money {
  color: #bf2121;
  font-weight: bold;
  font-size: 2.5rem; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.button {
  width: 400px;
  height: 70px;
  margin: 0px auto 15px auto;
  background: #EEE;
  text-align: center;
  line-height: 110px;
  border-radius: 5px; }
  .button:last-child {
    margin: 0px auto 0px auto; }
  .button img {
    max-width: 260px;
    max-height: 60px; }

.center-div {
  text-align: center;
  margin-top: 150px; }

.userBalance {
  text-align: center;
  font-size: 25px;
  margin-top: 15px;
  color: #fff; }
  .userBalance.noMoney {
    color: red;
    font-weight: normal;
    margin: 0; }

.calculate-btc-wrapper {
  width: 100%; }

#actualPriceWrapper {
  position: relative;
  width: 100%;
  z-index: 1000;
  padding: 2rem 5rem;
  font-size: 38px;
  text-align: center; }
  #actualPriceWrapper:after {
    content: "";
    background: #ffffff;
    opacity: 0.5;
    border-radius: 10px;
    font-size: 40px;
    color: black;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 0 0 #bc8b3a;
    transform: scale(1);
    animation: pulse 2s infinite;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    top: 0;
    bottom: 0; }

#buyBTCPanelContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1000;
  flex-basis: 60%; }
  #buyBTCPanelContainer .money-amount-buttons {
    display: flex;
    justify-content: space-evenly; }
    #buyBTCPanelContainer .money-amount-buttons .amount {
      color: black;
      font-weight: bold;
      font-family: 'Russo One', sans-serif; }
  #buyBTCPanelContainer .money-input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; }
    #buyBTCPanelContainer .money-input-wrapper .money-value {
      border: none;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.8);
      padding: 10px;
      outline: none;
      height: 55px;
      width: 400px;
      font-size: 2rem;
      text-align: center;
      font-weight: bold;
      color: #000;
      font-family: 'Russo One', sans-serif; }
    #buyBTCPanelContainer .money-input-wrapper .controls {
      margin: 0 1rem;
      color: black;
      font-weight: bold;
      font-family: 'Russo One', sans-serif; }
  #buyBTCPanelContainer .amount-to-buy {
    margin-top: 15px;
    font-size: 32px;
    text-align: center; }
  #buyBTCPanelContainer h2 {
    text-align: center;
    font-size: 26px;
    margin: 20px 0; }

.input-money-converter {
  position: relative;
  padding: 32px 0;
  color: #fff; }
  .input-money-converter:after {
    content: "";
    background: #fff;
    border-radius: 0 0 10px 10px;
    font-size: 40px;
    color: black;
    font-weight: bold;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    top: 0;
    bottom: 0;
    opacity: 0.17; }

.calculator-header {
  position: relative;
  color: #fff; }
  .calculator-header:after {
    content: "";
    background: #E9A346;
    border-radius: 10px 10px 0 0;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    top: 0;
    bottom: 0;
    opacity: 0.7; }

.book-price-button, .cancel, .go-back, .buy-now-button, .completed-button {
  height: 65px;
  min-width: 300px;
  font-size: 40px;
  font-family: 'Russo One', sans-serif;
  color: black;
  margin-top: 20px;
  border-radius: 5px; }
  .book-price-button:disabled, .cancel:disabled, .go-back:disabled, .buy-now-button:disabled, .completed-button:disabled {
    opacity: 0.5; }

.book-price-button.amber.accent-4, .cancel.amber.accent-4, .buy-now-button.amber.accent-4, .completed-button.amber.accent-4 {
  background-color: #E9A346 !important; }

.go-back.amber.accent-4 {
  background-color: #bf2121 !important;
  margin-right: 15px;
  color: #fff; }

#getWalletBitcoin {
  text-align: center;
  font-size: 30px;
  color: #fff; }
  #getWalletBitcoin p {
    margin: 5px; }

#mainScreenRemaining {
  color: red;
  font-size: 38px; }

#getQR {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  color: #fff; }

.calculator-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 30px; }
  .calculator-wrapper .simple-keyboard {
    flex-basis: 40%;
    margin-left: 20px;
    background-color: transparent;
    font-family: 'Russo One', sans-serif;
    padding: 0; }
    .calculator-wrapper .simple-keyboard .hg-row .hg-button {
      position: relative;
      background: none;
      border-bottom: none;
      font-size: 1.8rem; }
      .calculator-wrapper .simple-keyboard .hg-row .hg-button:after {
        content: "";
        background: #fff;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        opacity: 0.5; }
      .calculator-wrapper .simple-keyboard .hg-row .hg-button span {
        z-index: 1; }

#completed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
  font-size: 20px;
  padding: 1rem;
  margin-top: 2rem; }
  #completed .summary-transaction {
    font-size: 25px; }
  #completed span {
    color: lime;
    font-size: 30px; }
  #completed:after {
    content: "";
    background: #567b0c;
    border-radius: 10px;
    font-size: 40px;
    color: black;
    font-weight: bold;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    top: 0;
    bottom: 0;
    opacity: 0.40; }

/* BOOK A PRICE MODAL */
.swal-modal {
  width: 95%; }
  .swal-modal.book-price-modal .swal-footer {
    display: flex;
    justify-content: center; }
  .swal-modal.book-price-modal .swal-button {
    min-width: 200px;
    min-height: 50px;
    font-size: 25px; }
    .swal-modal.book-price-modal .swal-button--cancel {
      background: #bf2121;
      color: #fff; }
    .swal-modal.book-price-modal .swal-button--confirm {
      background: #E9A346;
      color: #000; }
  .swal-modal.book-price-modal .swal-content {
    font-size: 20px; }
    .swal-modal.book-price-modal .swal-content span {
      color: green;
      font-size: 30px; }
      .swal-modal.book-price-modal .swal-content span.minutes {
        margin: 0 3px;
        display: inline-block;
        width: 130px; }
    .swal-modal.book-price-modal .swal-content .warning {
      color: #bf2121; }

@keyframes pulse {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(188, 139, 58, 0.7); }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(188, 139, 58, 0); }
  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(188, 139, 58, 0); } }

/* loader */
.scaling-squares-spinner, .scaling-squares-spinner * {
  box-sizing: border-box; }

.scaling-squares-spinner {
  height: 120px;
  width: 120px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: scaling-squares-animation 1250ms;
  animation-iteration-count: infinite;
  transform: rotate(0deg); }
  .scaling-squares-spinner .square {
    height: calc(120px * 0.25 / 1.3);
    width: calc(120px * 0.25 / 1.3);
    margin-right: auto;
    margin-left: auto;
    border: calc(120px * 0.04 / 1.3) solid #ffab00;
    position: absolute;
    animation-duration: 1250ms;
    animation-iteration-count: infinite; }
    .scaling-squares-spinner .square:nth-child(1) {
      animation-name: scaling-squares-spinner-animation-child-1; }
    .scaling-squares-spinner .square:nth-child(2) {
      animation-name: scaling-squares-spinner-animation-child-2; }
    .scaling-squares-spinner .square:nth-child(3) {
      animation-name: scaling-squares-spinner-animation-child-3; }
    .scaling-squares-spinner .square:nth-child(4) {
      animation-name: scaling-squares-spinner-animation-child-4; }

@keyframes scaling-squares-animation {
  50% {
    transform: rotate(90deg); }
  100% {
    transform: rotate(180deg); } }

@keyframes scaling-squares-spinner-animation-child-1 {
  50% {
    transform: translate(150%, 150%) scale(2, 2); } }

@keyframes scaling-squares-spinner-animation-child-2 {
  50% {
    transform: translate(-150%, 150%) scale(2, 2); } }

@keyframes scaling-squares-spinner-animation-child-3 {
  50% {
    transform: translate(-150%, -150%) scale(2, 2); } }

@keyframes scaling-squares-spinner-animation-child-4 {
  50% {
    transform: translate(150%, -150%) scale(2, 2); } }
